.bar {
  font-size: 8px;
}

.background {
  background-color: transparent;
}

.top {
  margin-top: 0.5em;
}

.bottom {
  margin-bottom: 0.5em;
}

.workspaces, .clock, .volume-box, .battery, .dnd-box {
  background-color: #1e1e2e;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 0.2em solid #74c7ec;
  border-bottom: 0.2em solid #74c7ec;
  border-radius: 2em;
}

.dnd {
  color: #f9e2af;
}

.dnd-box {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}

.battery-percent {
  font-size: 1.2em;
}

.volume {
  font-size: 1.8em;
}

button {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border: none;
  font-family: "Fantasque Sans Mono";
  font-size: 2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  color: #cdd6f4;
}

.ws {
  color: #585b70;
}

.wst, .wstt {
  color: #cdd6f4;
}

.wstt {
  border-right: 0.2em solid #cba6f7;
  border-radius: 0;
  font-weight: bold;
}

.wsmt {
  border-left: 0.2em solid #f9e2af;
  border-radius: 0;
}
