configuration {
  cycle: true;
  disable-history: true;
  modi: "drun";
  display-drun: "apps";
  font: "@font";
}

entry {
  placeholder: "";
  color: @entry-color;
}

window {
  location: center;
  width: 50%;
  background-color: @bg;
  border: none;
}

#scrollbar {
  width: 0;
  handle-width: 0;
}

mainbox {
  padding: 12px;
}

inputbar {
  background-color: transparent;
  border-color: @entry-border;
  border: 2px;
  border-radius: 16px;

  padding: 8px 16px;
  spacing: 8px;
  children: [ entry ];
}

textbox {
  padding: 8px 24px;
}

listview {
  border: 0;
  background-color: transparent;
  margin: 12px 0 0;
  lines: 8;
  columns: 1;

  fixed-height: false;
}

element {
  padding: 8px 16px;
  spacing: 8px;
  border-radius: 16px;
}

element normal normal {
  background-color: transparent;
  color: @text;
}

element alternate normal {
  background-color: transparent;
  color: @text;
}

element selected normal {
  background-color: @selected;
  color: @selected-text;
}

element-icon {
  size: 1em;
  vertical-align: 0.5;
}
